@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Red+Hat+Display:wght@300;500;700;800&display=swap");

.ModalErrorContainer {
  position: absolute;
  font-family: "Red Hat Display", sans-serif;
  height: 5rem;
  background-color: none;
  top: 80%;
  width: 100vw;
  left: 0;
  border: none;
  color: white;
}
