.container {
  margin: 0 auto;
  /* margin-top: 1.8%; */
  margin-top: 0.5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  /* background-color: pink; */
}

.Title {
  flex-basis: 50%;
  font-family: "Red Hat Display", sans-serif;
  font-size: 3vh;
  line-height: 4vh;
  color: white;
  text-align: right;
}
.CreateTodoButton {
  flex-basis: 50%;
  display: flex;
  width: 5vh;
  max-width: 5vh;
  height: 5vh;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}
.ImagenLateral {
  display: none;
}
